[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/cuihujun (cuihujun)
[access "refs/for/refs/*"]
	read = group user/cuihujun (cuihujun)
	push = group user/cuihujun (cuihujun)
	label-Code-Review = -2..+2 group user/cuihujun (cuihujun)
	label-Verified = -1..+1 group user/cuihujun (cuihujun)
	rebase = group user/cuihujun (cuihujun)
	removeReviewer = group user/cuihujun (cuihujun)
	submit = group user/cuihujun (cuihujun)
[access "refs/heads/*"]
	read = group user/cuihujun (cuihujun)
	create = group user/cuihujun (cuihujun)
	push = +force group user/cuihujun (cuihujun)
	pushMerge = group user/cuihujun (cuihujun)
[access "refs/tags/*"]
	push = +force group user/cuihujun (cuihujun)
	pushTag = group user/cuihujun (cuihujun)
	pushSignedTag = group user/cuihujun (cuihujun)
