[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/cuihujun
[access "refs/for/refs/*"]
	read = group user/cuihujun
	push = group user/cuihujun
	label-Code-Review = -2..+2 group user/cuihujun
	label-Verified = -1..+1 group user/cuihujun
	rebase = group user/cuihujun
	removeReviewer = group user/cuihujun
	submit = group user/cuihujun
[access "refs/heads/*"]
	read = group user/cuihujun
	create = group user/cuihujun
	push = +force group user/cuihujun
	pushMerge = group user/cuihujun
[access "refs/tags/*"]
	push = +force group user/cuihujun
	pushTag = group user/cuihujun
	pushSignedTag = group user/cuihujun
